<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <style>
            .twig-img {
                position:absolute;
                bottom: 20px;
                right: 20px;
            }
        </style>
        <title>My website</title>
    </head>
    <body>
        <form method="post" action="/render">
        <div class="login-form">
            <label for="template">Input Here!</label><br>
            <textarea name="template" class="form-control" rows="4" cols="40"></textarea><br>
            <button type="submit" id="login-btn mb-2" class="btn btn-primary">Render</button>
        </div>
        </form>
        <p><img class="twig-img" src="imgs/twig.png" width="200"></p>
    </body>
</html>
